html, body {
    height:100%;
}

body { 
    background: url(../images/air_care_bg.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.logo {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.city-list {
    margin-top: 1rem;
}

.map-responsive{
    overflow:hidden;
    padding-bottom:70%;
    position:relative;
}
.map-responsive iframe{
    height:100%;
    width:100%;
    position:absolute;
}