html, body {
    height:100%;
}

body { 
    background: url(../images/air_care_bg.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.logo {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.city-list {
    margin-top: 1rem;
}

input:focus::placeholder {
  color: transparent;
}

.map-responsive{
    overflow:hidden;
    padding-bottom:70%;
    position:relative;
}
.map-responsive iframe{
    height:100%;
    width:100%;
    position:absolute;
}
#github:hover {
    opacity: 0.3;
}
#linkedin:hover{
  opacity: 0.3;
}
#instagram:hover{
  opacity: 0.3;
}
#facebook:hover{
  opacity: 0.3;
}
#twitter:hover{
  opacity: 0.3;
}
#facebook,#twitter,#instagram,#linkedin,#github{
  width: 40px;
  height:40px;
  border-radius: 20%; 
}
 #instagram{
  background-color: #609;
  color: aliceblue;
}
#facebook{
  background-color: #0073b1;
  color: aliceblue;
}
#linkedin{
background-color: #0073b1;
color: aliceblue;

}
#github{
  background-color: black;
  color: aliceblue;
}
#twitter{
  background-color: #22b8cf;
  color: white;
}